
<div class="row p-3">
  <div class="center-col">
    <div class="card green" ng-click="$ctrl.extrato('credito')">
      <div class="card-block">
        <h6 class="card-title">Total de receitas</h6>
        <p class="card-text">
          R$ {{ $ctrl.totalReceitas }}
        </p>
      </div>
    </div>
    <div class="card red" ng-click="$ctrl.extrato('debito')">
      <div class="card-block">
        <h6 class="card-title">Total de despesas</h6>
        <p class="card-text">
          R$ {{ $ctrl.totalDespesas }}
        </p>
      </div>
    </div>
  </div>
</div>
<h3 class="chart-title">Despesas</h3>
<div class="row p-3">
  <div id="pieChart" class="center-col"></div>
  <div class="material-btn" ng-click="$ctrl.adicionarMovimentacao()">+</div>
</div>