
<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="$ctrl.adicionarMovimentacao()">Adicionar</button>
<div style="margin-bottom: 20px;"></div>
<ul class="list-group">
  <li class="list-group-item justify-content-between">
    13/03 - Caloeiro me pagou
    <span class="badge badge-default badge-pill" style="background-color: green">+ R$ 80,00</span>
  </li>
  <li class="list-group-item justify-content-between">
    14/03 - Paguei a COELCE 
    <span class="badge badge-default badge-pill" style="background-color: red">- R$ 200,00</span>
  </li>
  <li class="list-group-item justify-content-between">
    15/03 - Paguei a GVT 
    <span class="badge badge-default badge-pill" style="background-color: red">- R$ 150,00</span>
  </li>
</ul>