<div class="row">
  <div class="col-sm-12">
        <section class="row">
            <div class="col-sm-12 col-md-5"><label>Login: <input type="text" class="form-control" ng-model="$ctrl.usuario.login" /></label></div>

        </section>
        <section class="row">
            <div class="col-sm-12 col-md-5"><label> Senha: <input type="password" class="form-control" ng-model="$ctrl.usuario.password" /> </label></div>
        </section>
        <section class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-primary" ng-click="$ctrl.login()">Login</button>
                <a href="javascript:void(0)" ng-click="$ctrl.novaConta()">Criar conta</a>
            </div>
        </section>
  </div>
</div>


