<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="descricaoMovimentacao">Descrição</label>
      <input type="text" class="form-control" id="descricaoMovimentacao" ng-model="$ctrl.movimentacao.descricao">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="valorMovimentacao">Valor</label>
      <input type="number" class="form-control" id="valorMovimentacao" ng-model="$ctrl.movimentacao.valor">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="data">Data</label>
      <input type="date" class="form-control" id="data" ng-model="$ctrl.movimentacao.data">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="tipoOperacao">Operação</label>
      <select class="form-control" id="tipoOperacao" ng-model="$ctrl.movimentacao.tipo">
        <option value="">Selecione</option>
        <option value="credito">Crédito</option>
        <option value="debito">Débito</option>
      </select>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="categoria">Categoria</label>
      <select class="form-control" id="categoria" ng-model="$ctrl.movimentacao.categoria">
        <option value="">Selecione</option>
        <option value="alimentacao">Alimentação</option>
        <option value="transporte">Transporte</option>
        <option value="lazer">Lazer</option>
        <option value="vestuario">Vestuário</option>
        <option value="outros">Outros</option>
      </select>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="categoria">Forma da movimentação</label>
      <select class="form-control" id="categoria" ng-model="$ctrl.movimentacao.formaMovimentacao">
        <option value="">Selecione</option>
        <option value="dinheiro">Dinheiro</option>
        <option value="cartao-credito">Cartão de crédito</option>
        <option value="debito-conta">Débito em conta</option>
      </select>
    </div>
  </div>
</div>
  <button type="button" class="btn btn-primary" ng-click="$ctrl.salvar()">Salvar</button>
  <button type="button" class="btn btn-secondary" ng-click="$ctrl.cancelar()">Cancelar</button>