<!DOCTYPE html>
<html ng-app="financeiro">
<head>
  <title></title>
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
  <link rel="stylesheet" href="css/tether.min.css"/>
  <link rel="stylesheet" href="css/styles.css"/>
  <script src="js/jquery-3.1.1.min.js"></script>
  <!-- Placed at the end of the document so the pages load faster -->
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/tether.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/bundle.js"></script>
</head>
<body>
	<div class="container">
    <header-component></header-component>
		<ng-view></ng-view>
	</div>
</body>
</html>