<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="javascript:void(0)" ng-click="$ctrl.logoClick()">Finanças</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" ng-if="$ctrl.loginService.usuarioLogado">
                <a class="nav-link" href="javascript:void(0)" ng-click="$ctrl.welcome()">Início</a>
            </li>
            <li class="nav-item" ng-if="$ctrl.loginService.usuarioLogado">
                <a class="nav-link" href="javascript:void(0)" ng-click="$ctrl.extrato()">Extrato</a>
            </li>
            <li class="nav-item" ng-if="$ctrl.loginService.usuarioLogado">
                <a class="nav-link" href="javascript:void(0)" ng-click="$ctrl.minhaConta()">Minha Conta</a>
            </li>
            <li class="nav-item" ng-if="$ctrl.loginService.usuarioLogado">
                <a class="nav-link" href="javascript:void(0)" ng-click="$ctrl.logout()">Sair</a>
            </li>
        </ul>
    </div>
</nav>